<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul v-if="todos.length">
            <div v-for="todo in todos">
                <li v-if="!todo.completed">{{todo.title}}</li>
            </div>
        </ul>
        <div v-else> 로딩 중!!</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.3.4/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>
    <script>
        const app=new Vue({
            el: "#app",
            data(){
                return{
                    todos:[] //이타입은 배열이라고 개발자에게 알려주기 위해서(알기 쉽게)
                };
            },
            created(){
                this.getData();
            },
            methods: {
                async getData(){
                    try{
                        const response = await axios.get(
                            "https://koreanjson.com/todos"
                        );
                        this.todos=response.data;
                    } catch(error){
                        console.log(error);
                    }
                }
            }
        })
    </script>
</body>
</html>