<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="userId">
        <input type="password" v-model="password">
        <button @click="login">로그인!</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>
    <script>
        const app=new Vue({
            el: "#app",
            data(){
                return {
                    userId:"",
                    password:"",
                }
            },
            methods:{
                login(){
                    alert(`id: ${this.userId}, pwd: ${this.password}`)
                }
            }
        })
    </script>
</body>
</html>