.main{
    border: 1px solid black;
    height: 800px;
    width: 800px;
}

.inner{
    height: 100px;
    width:100px;
    float:left;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}